extends ../layouts/doc

block global_args_extra

    script(type="text/javascript").
        window.globalArgsExtra = {
            pageName: 'api',
            initHash: 'echarts',
            hideTreeRoot: true,
            docTreeChildrenPre: 'API',
            docTreeChildrenPost: '',
            lang: {
                zh: {
                    queryBoxTextFuzzyPath: 'API搜索',
                    queryBoxPlaceholderFuzzyPath: 'API名称搜索（快捷键\'/\'）'
                },
                en: {
                    queryBoxTextFuzzyPath: 'API search',
                    queryBoxPlaceholderFuzzyPath: 'API search (shortcut: \'/\')'
                }
            }
        };
