extends ../layouts/doc

block global_args_extra

    script(type="text/javascript").
        window.globalArgsExtra = {
            baseUrl: 'documents/api-parts',
            docType: 'api',
            locale: 'zh'
        };