extends ../layouts/basic

block extra_head
    <title>版本记录 - Apache ECharts (incubating)</title>

block content
    nav(class='navbar navbar-default navbar-fixed-top', role="navigation")
        include ../components/nav

    .page-info
        h1 版本记录

    .page-content.single-page
        .page-nav
            a.slide-btn 收起目录
            h4 版本记录
            ul
        .page-detail
            include ../../_generated/zh/documents/changelog-content.html


block extra_js
    script(type='text/javascript').
        document.getElementById('nav-doc').className = 'active';
