extends ../layouts/basic

block extra_head
    title 版本记录 - Apache ECharts

block content
    nav(class='navbar navbar-default navbar-fixed-top', role="navigation")
        include ../components/nav

    .page-main
        .page-info
            h1 版本记录
            p.page-info-echarts Apache ECharts<sup>TM</sup>

        .page-content.single-page
            .page-nav
                a.slide-btn 收起目录
                h4 版本记录
                ul
            .page-detail
                include ../../_generated/zh/documents/changelog-content.html

                include ../components/inner-footer

block extra_js
    script(type='text/javascript').
        document.getElementById('nav-doc').className = 'active';
