extends ../layouts/basic

block extra_head
    <title>ECharts 速查手册</title>

block content
    nav(class='navbar navbar-default navbar-fixed-top', role="navigation")
        include ../components/nav

    .page-info
        h1 ECharts 速查手册
        p 快速了解功能名称，帮助定位到配置项手册

    .page-content.container
        //- #cheat-selector
            //- .btn-group.selected
            //-     button.btn.btn-default(type='button') 通用
            //- .btn-group
            //-     button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown') 系列
            //-         span.caret
            //-     ul.dropdown-menu
            //-         li
            //-             a(href='#') 折线图
            //-             a(href='#') 饼图
            //-             a(href='#') 柱状图
            //- .btn-group
            //-     button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown') 组件
            //-         span.caret
            //-     ul.dropdown-menu
            //-         li
            //-             a(href='#') 图例
            //-             a(href='#') 视觉映射
            //-             a(href='#') 工具箱

        #cheat-chart-container
            .row
                .col-lg-9
                    #cheat-chart
                .col-lg-3
                    #cheat-detail


block extra_js
    script(src='./dist/echarts.min.js')
    script(src='./js/cheat-sheet.js')
