extends ../components/download

block vars
    - var downloadPath = 'dist';
    - var isECharts4 = true;
    - var sizeCommon = '473 KB'; //- deprecated
    - var sizeSimple = '308 KB'; //- deprecated
    - var sizeFull = '2.89 MB'; //- deprecated
    - var sizeMin = '748 KB'; //- deprecated
