extends ../components/download

block vars
    - var downloadVersion = '3.8.5';
    - var downloadPath = 'dist/echarts3';
    - var isECharts4 = false;
    - var sizeCommon = '392 KB';
    - var sizeSimple = '240 KB';
    - var sizeFull = '2.09 MB';
    - var sizeMin = '632 KB';
