extends ../layouts/basic

block variables
    - var pageTitle = 'ECharts FAQ'

block extra_head
    title 邮件列表 - Apache ECharts

block content
    nav(class='navbar navbar-default navbar-fixed-top', role="navigation")
        include ../components/nav

    .page-main
        .page-info
            .container
                h1 邮件列表
                p.page-info-echarts Apache ECharts<sup>TM</sup>

        .page-content#maillist
            .page-nav
            .container
                h2 关于邮件列表
                p 邮件列表是我们公开讨论并记录的地方。如果你想做以下事情，欢迎订阅邮件列表：
                ul
                    li 随时了解 bug 以及新需求的报告；
                    li 参与讨论开发计划或特定的问题；
                    li 帮助通过邮件提问的人；
                    li 等等……

                p 如果你有一个特定的问题想要问，建议使用 <a href="https://github.com/apache/echarts/issues/new/choose">GitHub Issue</a> 报 Bug 或提需求，这是一种更有效率的方式。

                p <a href="mailto:commits@echarts.apache.org">commits@echarts.apache.org</a> 主要是代码提交记录，而 <a href="mailto:dev@echarts.apache.org">dev@echarts.apache.org</a> 则是其他通用问题的讨论。

                p 这两个邮件列表是公开的，这意味着你可以在 <a href="https://lists.apache.org/list.html?commits@echarts.apache.org">https://lists.apache.org/list.html?commits@echarts.apache.org</a> 和 <a href="https://lists.apache.org/list.html?dev@echarts.apache.org">https://lists.apache.org/list.html?dev@echarts.apache.org</a> 访问到邮件内容，而无需订阅。

                h2 如何订阅
                p 给 <a href="mailto:commits-subscribe@echarts.apache.org">commits-subscribe@echarts.apache.org</a> 或 <a href="mailto:dev-subscribe@echarts.apache.org">dev-subscribe@echarts.apache.org</a> 发邮件来分别订阅 commits@echarts.apache.org 或 dev@echarts.apache.org。
                p 你会收到一封回信，请照着邮件内容操作。

        include ../components/footer

block extra_js
    script(type='text/javascript').
        document.getElementById('nav-contribute').className = 'active';
