extends ../layouts/basic

block variables
    - var pageTitle = '安全 - Apache ECharts'

block extra_head
    title 安全 - Apache ECharts

block content
    nav(class='navbar navbar-default navbar-fixed-top', role="navigation")
        include ../components/nav

    .page-main
        .page-info
            .container
                h1 安全
                p.page-info-echarts Apache ECharts<sup>TM</sup>

        .page-content#maillist
            .page-nav
            .container(style="text-indent: 2em")
                p Apache ECharts<sup>TM</sup> 项目高度重视其软件产品的安全性，并秉持严谨的态度，全力消除任何潜在的安全隐患。我们密切关注所有与产品特性和功能相关的安全问题。
                p 若您对 ECharts 的安全性存在疑虑，或发现了任何漏洞及潜在威胁，请务必直接联系 <a href="https://www.apache.org/security/" target="_blank">Apache 安全团队</a>，邮箱地址为 <a href="mailto:security@apache.org">security@apache.org</a>。来信请注明项目名称“ECharts”，并详细描述问题或潜在风险。同时，建议您尽可能提供问题重现的方法与步骤。安全团队与 ECharts 社区将在评估分析后尽快予以回复。
                p <strong>请注意：</strong>在通过上述安全邮箱报告安全问题之前，请勿在任何公开场合披露该问题。
                p 文档 <a href="https://echarts.apache.org/handbook/zh/security" target="_blank">安全指南</a> 中包含了有关安全模型、检查清单及安全使用建议的详细信息，敬请查阅。

        include ../components/footer

block extra_js
    script(type='text/javascript').
        document.getElementById('nav-others').className = 'active';
