extends ../layouts/doc

block global_args_extra

    script(type="text/javascript").
        window.globalArgsExtra = {
            baseUrl: 'documents/tutorial-parts',
            docType: 'tutorial',
            locale: 'zh'
        };