extends components/download

block vars
    - var downloadVersion = version;
    - var downloadPath = 'dist';
    - var isECharts4 = true;
    - var sizeCommon = '430 KB';
    - var sizeSimple = '274 KB';
    - var sizeFull = '2.26 MB';
    - var sizeMin = '685 KB';
