extends components/download

block vars
    - var downloadVersion = version;
    - var downloadPath = 'dist';
    - var isECharts4 = true;
    - var sizeCommon = '452 KB';
    - var sizeSimple = '291 KB';
    - var sizeFull = '2.76 MB';
    - var sizeMin = '717 KB';
