extends components/download

block vars
    - var downloadVersion = version;
    - var downloadPath = 'dist';
    - var isECharts4 = true;
    - var sizeCommon = '470 KB';
    - var sizeSimple = '305 KB';
    - var sizeFull = '2.86 MB';
    - var sizeMin = '744 KB';
