extends layouts/basic

block extra_head
    <title>ECharts 特性</title>

block content
    nav(class='navbar navbar-default navbar-fixed-top', role="navigation")
        include components/nav

    .page-info
        .container
            h1 ECharts 特性
            p 可自由选择下载不同版本、不同主题、所需地图数据，并且还可以在线定制模块。

    .page-content.single-page
        .page-nav
            h4 特性
            ul
        .page-detail
            p.page-detail-desc ECharts，一个纯 Javascript 的图表库，可以流畅的运行在 PC 和移动设备上，兼容当前绝大部分浏览器（IE8/9/10/11，Chrome，Firefox，Safari等），底层依赖轻量级的 Canvas 类库 <a href="https://github.com/ecomfe/zrender" target="_blank">ZRender</a>，提供直观，生动，可交互，可高度个性化定制的数据可视化图表。
            p ECharts 3 中更是加入了更多丰富的交互功能以及更多的可视化效果，并且对移动端做了深度的优化。

            h2#chart-types 丰富的图表类型
            p ECharts 提供了常规的<a href="option.html#series-line" target="_blank">折线图</a>，<a href="option.html#series-line" target="_blank">柱状图</a>，<a href="option.html#series-scatter" target="_blank">散点图</a>，<a href="option.html#series-pie" target="_blank">饼图</a>，<a href="option.html#series-candlestick" target="_blank">K线图</a>，用于统计的<a href="option.html#series-boxplot" target="_blank">盒形图</a>，用于地理数据可视化的<a href="option.html#series-map" target="_blank">地图</a>，<a href="option.html#series-heatmap" target="_blank">热力图</a>，<a href="option.html#series-lines" target="_blank">线图</a>，用于关系数据可视化的<a href="option.html#series-graph" target="_blank">关系图</a>，<a href="option.html#series-treemap" target="_blank">treemap</a>，多维数据可视化的<a href="option.html#series-parallel" target="_blank">平行坐标</a>，还有用于 BI 的<a href="option.html#series-funnel" target="_blank">漏斗图</a>，<a href="option.html#series-gauge" target="_blank">仪表盘</a>，并且支持图与图之间的混搭。
            p 你可以在下载界面下载包含所有图表的构建文件，如果只是需要其中一两个图表，又嫌包含所有图表的构建文件太大，也可以在在线构建中选择需要的图表类型后自定义构建。

            h2#multi-axes 多个坐标系的支持
            p ECharts 3 开始独立出了“坐标系”的概念，支持了直角坐标系（catesian，同 grid）、极坐标系（polar）、地理坐标系（geo）。图表可以跨坐标系存在，例如折、柱、散点等图可以放在直角坐标系上，也可以放在极坐标系上，甚至可以放在地理坐标系中。
            p 下面是一个折线图在极坐标系上的例子：
            iframe(data-src="http://echarts.baidu.com/gallery/view.html?c=line-polar2&reset=1&edit=1", width="60%", height="400")
            p 下面是一个散点图在地理坐标系上的例子：
            iframe(data-src="http://echarts.baidu.com/gallery/view.html?c=scatter-map&reset=1&edit=1", width="60%", height="400")

            h2#mobile 移动端的优化
            p 流量珍贵的移动端需要图表库的体积尽量小。ECharts 和 ZRender 代码的重构，带来了核心部分体积的减小。ECharts 组件众多，并且后面会持续增加，我们提供了更细粒度的按需打包能力。最小体积缩小为 ECharts 2 的 40%。
            p 移动端交互也做了优化，例如移动端小屏上适于用手指在坐标系中进行缩放、平移。 PC 端也可以用鼠标在图中进行缩放（用鼠标滚轮）、平移，如下图：
            iframe(data-src="http://echarts.baidu.com/gallery/view.html?c=area-simple&reset=1&edit=1", width="60%", height="400")

            h2#interaction 深度的交互式数据探索
            p 交互是从数据中发掘信息的重要手段。“总览为先，缩放过滤按需查看细节”是数据可视化交互的基本需求。
            p ECharts 一直在<em>交互</em>的路上前进，我们提供了 <a href="option.html#legend" target="_blank">legend</a> <a href="option.html#visualMap" target="_blank">visualMap</a> <a href="option.html#dataZoom" target="_blank">dataZoom</a> <a href="option.html#tooltip" target="_blank">tooltip</a>等组件以及图表附带的漫游，选取等操作提供了数据筛取、视图缩放、展示细节等能力。
            p ECharts 3 中，对这些组件进行了广泛增强，例如支持在数据的各种坐标轴、维度进行数据过滤、缩放，以及在更多的图中采用这些组件。比如下面这个例子：
            iframe(data-src="http://echarts.baidu.com/gallery/view.html?c=scatter-nutrients-matrix&reset=1&edit=1", width="60%", height="640")

            h2#big-data 大数据量的展现
            p 借助 Canvas 的能力，ECharts 在散点图中能够轻松展现上万甚至上十万的数据。下面的微博签到图中就展现了 100k+ 的签到数据。
            iframe(data-src="http://echarts.baidu.com/gallery/view.html?c=scatter-weibo&reset=1&edit=1", width="60%", height="400")

            h2#visual-mapping 多维数据的支持以及丰富的视觉编码手段
            p ECharts 3 开始加强了对多维数据的支持。除了加入了平行坐标等常见的多维数据可视化工具外，对于传统的散点图等，传入的数据也可以是多个维度的。配合视觉映射组件 <a href="option.html#visualMap" target="_blank">visualMap</a> 提供的丰富的视觉编码，能够将不同维度的数据映射到颜色，大小，透明度，明暗度等不同的视觉通道。
            iframe(data-src="http://echarts.baidu.com/gallery/view.html?c=heatmap-cartesian&reset=1&edit=1", width="60%", height="400")

            h2#dynamic-data 动态数据
            p ECharts 由数据驱动，数据的改变驱动图表展现的改变。因此动态数据的实现也变得异常简单，只需要获取数据，填入数据，ECharts 会找到两组数据之间的差异然后通过合适的动画去表现数据的变化。配合 <a href="option.html#timeline" target="_blank">timeline</a> 组件能够在更高的时间维度上去表现数据的信息。
            iframe(data-src="http://echarts.baidu.com/gallery/view.html?c=scatter-life-expectancy-timeline&reset=1&edit=1", width="60%", height="400")

            h2#fancy-effects 绚丽的特效
            p ECharts 针对线数据，点数据等地理数据的可视化提供了吸引眼球的特效。
            iframe(data-src="http://echarts.baidu.com/gallery/view.html?c=geo-lines&reset=1&edit=1", width="60%", height="400")
            iframe(data-src="http://echarts.baidu.com/gallery/view.html?c=lines-bmap-effect&reset=1&edit=1", width="60%", height="400")


block extra_js
    script(type='text/javascript').
        document.getElementById('nav-doc').className = 'active';
