extends layouts/basic

block extra_head
    <title>ECharts</title>

block variables
    - var useDp = true

block content
    nav(class='navbar navbar-default navbar-fixed-top', role="navigation")
        include components/nav

    #main-content
        section#home-section
            video#video-index(autoplay='true', muted="true", loop='true', src='video/index-4.mp4', poster='video/index-4.jpg')

            .description
                include components/svg/echarts-logo
                a#index-play-btn(href='javascript:;', onclick='playIndexVideo()')
                .btn-panel
                    a.btn.btn-index-home(href='./feature.html') 特性
                    a.btn.btn-index-home(href='./download.html') 下载
            .main-bg

        if useDp
            script.
                void function(e,t){for(var n=t.getElementsByTagName("img"),a=+new Date,i=[],o=function(){this.removeEventListener&&this.removeEventListener("load",o,!1),i.push({img:this,time:+new Date})},s=0;s< n.length;s++)!function(){var e=n[s];e.addEventListener?!e.complete&&e.addEventListener("load",o,!1):e.attachEvent&&e.attachEvent("onreadystatechange",function(){"complete"==e.readyState&&o.call(e,o)})}();alog("speed.set",{fsItems:i,fs:a})}(window,document);

        //- section.banner-section(style='background: #1e2e55')
        //-     a(href='https://jing.baidu.com/h5/xzzb.html')
        //-         img.banner-img(src='images/banners/2017-09-12-zhibo.png', style='max-width: 1000px')


        script(type='text/javascript').
            (function () {
                var ua = navigator.userAgent;
                var ie = ua.match(/MSIE\s([\d.]+)/) || ua.match(/Trident\/.+?rv:(([\d.]+))/);
                var edge = ua.match(/Edge\/([\d.]+)/);
                window.supportTouch = 'ontouchstart' in window && !ie && !edge;
            })()


        section#feature-section
            .container
                .row.features
                    .col-sm-4
                        .feature-icon-panel
                            include components/svg/heart
                        h3 开源免费
                        p 遵循 BSD 开源协议，免费商用
                    .col-sm-4
                        .feature-icon-panel
                            include components/svg/function
                        h3 功能丰富
                        p 涵盖各行业图表，满足各种需求
                    .col-sm-4
                        .feature-icon-panel
                            include components/svg/community
                        h3 社区活跃
                        p 社区活跃，Github star 2.3 万

                .row.feature-detail#feature-4
                    .col-sm-4.col
                        h2 全新 4.0
                        h3(style="color:#000;font-weight:bold;margin-bottom:20px;") 八项新科技
                        p 千万级数据可视化渲染能力
                        p SVG + Canvas 双引擎动力更佳
                        p 数据样式分离及扁平配置让开发更便捷
                        p 首创无障碍访问支持
                        p 微信小程序、PPT，哪里都能用
                        .feature-btn
                            a(href="feature.html") 了解更多
                                include components/svg/more
                    .col-sm-8.col
                        video#video-feature-4.feature-video(autoplay='true', loop='true', src='video/feature-4.mp4', poster='images/features/scatterGL4.png')
                .row.feature-detail#feature-dimension
                    .col-sm-4.col.mobile
                        h2 多维度数据分析
                        h3 数据自由刷选
                        p 自由选择数据，发掘数据背后的更多秘密
                        h3 多图表联动查看
                        p 对多个图表数据联动查看，进行多维有效分析
                        .feature-btn
                            a(href="feature.html") 了解更多
                                include components/svg/more
                    .col-sm-8.col
                        #col-desktop
                            img(src="images/feature-1.png")
                            video#video-feature-1.feature-video(autoplay='true', loop='true', src='video/feature-1.mp4', poster='video/feature-2.jpg')
                    .col-sm-4.col.pc#col-analysis
                        h2 多维度数据分析
                        h3 数据自由刷选
                        p 自由选择数据，发掘数据背后的更多秘密
                        h3 多图表联动查看
                        p 对多个图表数据联动查看，进行多维有效分析
                        .feature-btn
                            a(href="feature.html") 了解更多
                                include components/svg/more
                .row.feature-detail
                    .col-sm-4.col#col-data
                        h2 多设备随意展示
                        h3 电脑／手机／平板／大屏  …
                        p 兼容多种设备，可随时随地任性展示
                        .feature-btn
                            a(href="feature.html") 了解更多
                                include components/svg/more
                    .col-sm-8.col
                        .ch-main#ch-main.pc
                            .ch-pc-chart
                            .ch-mobile
                                img.ch-mobile-box(src='./images/index-chart/iphone.png')
                                .ch-mobile-content
                                    .ch-mobile-chart
                        .mobile
                            img(src='./images/index-feature.png')

                    script(type='text/javascript').
                        window.supportTouch && (document.getElementById('ch-main').className += ' ch-on-touch');

        section#publication
            .container
                .col-sm-8.col
                    h2 ECharts: A Declarative Framework for Rapid Construction of Web-based Visualization
                    p.note <i class="note-icon"><img src="./images/note.svg" /></i> Please cite the following paper whenever you use ECharts in your R&D projects, products, research papers, technical reports, news reports, books, presentations, teaching, patents, and other related intelligence activities.
                    p.link Visual Informatics, 2018
                        a(href="http://www.cad.zju.edu.cn/home/vagblog/VAG_Work/echarts.pdf") [PDF]
                .col-sm-4.col
                    .img-container
                        img(src="./images/pipeline.png", alt="")

        section#reference
            .container
                 #recommends
                    .recommend
                        p ECharts 是中国的，也是世界的。
                        .person
                            .title 浙江大学CAD&CG国家重点实验室教授，可视化专家
                            .name 陈为
                    .recommend
                        p ECharts，发现数据可视化之美！
                        .person
                            .title 中国传媒大学教授
                            .name 沈浩
                    .recommend.active
                        p 在中国可视化生态系统中，ECharts 通过提供方便丰富的可视化图表，极大缩短了用户与数据的距离。
                        .person
                            .title 北京大学百人计划研究员，可视化专家
                            .name 袁晓如
                    .recommend
                        p 很高兴ECharts一直保持着可视化的顶尖水平，期待 ECharts 早日动词化的那一天！
                        .person
                            .title 游族网络有限公司 CTO
                            .name 李湛
                    .recommend
                        p ECharts 是最让我惊艳的一款数据产品，它满足了甚至超越了我对数据可视化的所有想象，无论是颜值，实用性，还是易用性。
                        .person
                            .title PPT 设计师 / 数据分析师
                            .name 阿文
            .container
                .people
                    img(src='images/people/陈为.png')
                    img(src='images/people/沈浩.png')
                    img.active(src='images/people/袁晓如.png')
                    img(src='images/people/李湛.png')
                    img(src='images/people/阿文.png')

        section.container
            .companies
                - for (var i = 1; i <= 24; ++i) {
                    img(src='images/company/company#{i}.png')
                -}

        section.normal#about-section
            .container
                h3 关注我们
                p 可以通过以下渠道关注 ECharts，及时获得更多最新动态
                .btn-panel
                    a.btn.btn-blue(href='https://github.com/ecomfe/echarts')
                        img(src='images/btn-github.png')
                        span GitHub
                    a.btn.btn-red(href='http://weibo.com/echarts')
                        img(src='images/btn-weibo.png')
                        span 微博

        include components/footer

block extra_js
    script(src='./dist/echarts.min.js')
    script(src='./js/index.js')
