extends layouts/basic

block extra_head
    <title>ECharts</title>

block content
    nav(class='navbar navbar-default navbar-fixed-top', role="navigation")
        include components/nav

    #main-content
        section#home-section
            video#video-index(autoplay='true', loop='true', src='video/index.mp4', poster='video/index.jpg')
            .description
                include components/svg/echarts-logo
                a#index-play-btn(href='javascript:;', onclick='playIndexVideo()')
                .btn-panel
                    a.btn.btn-index-home(href='./feature.html') 特性
                    a.btn.btn-index-home(href='./download.html') 下载
            .main-bg

        //- section
        //-     a(href='http://ife.baidu.com/')
        //-         img.banner-img(src='images/banners/2017-03-23-ife.png')


        script(type='text/javascript').
            (function () {
                var ua = navigator.userAgent;
                var ie = ua.match(/MSIE\s([\d.]+)/) || ua.match(/Trident\/.+?rv:(([\d.]+))/);
                var edge = ua.match(/Edge\/([\d.]+)/);
                window.supportTouch = 'ontouchstart' in window && !ie && !edge;
            })()


        section#feature-section
            .container
                .row.features
                    .col-sm-4
                        .feature-icon-panel
                            include components/svg/heart
                        h3 开源免费
                        p 遵循 BSD 开源协议，免费商用
                    .col-sm-4
                        .feature-icon-panel
                            include components/svg/function
                        h3 功能丰富
                        p 涵盖各行业图表，满足各种需求
                    .col-sm-4
                        .feature-icon-panel
                            include components/svg/community
                        h3 社区活跃
                        p 社区活跃，Github star 1.8 万
                .row.feature-detail
                    .col-sm-4.col.mobile
                        h2 多维度数据分析
                        h3 数据自由刷选
                        p 自由选择数据，发掘数据背后的更多秘密
                        h3 多图表联动查看
                        p 对多个图表数据联动查看，进行多维有效分析
                        .feature-btn
                            a(href="feature.html") 了解更多
                                include components/svg/more
                    .col-sm-8.col
                        #col-desktop
                            img(src="images/feature-1.png")
                            video#video-feature-1.feature-video(autoplay='true', loop='true', src='video/feature-1.mp4', poster='video/feature-2.jpg')
                    .col-sm-4.col.pc#col-analysis
                        h2 多维度数据分析
                        h3 数据自由刷选
                        p 自由选择数据，发掘数据背后的更多秘密
                        h3 多图表联动查看
                        p 对多个图表数据联动查看，进行多维有效分析
                        .feature-btn
                            a(href="feature.html") 了解更多
                                include components/svg/more
                .row.feature-detail
                    .col-sm-4.col#col-data
                        h2 多设备随意展示
                        h3 电脑／手机／平板／大屏  …
                        p 兼容多种设备，可随时随地任性展示
                        .feature-btn
                            a(href="feature.html") 了解更多
                                include components/svg/more
                    .col-sm-8.col
                        .ch-main#ch-main.pc
                            .ch-pc-chart
                            .ch-mobile
                                img.ch-mobile-box(src='./images/index-chart/iphone.png')
                                .ch-mobile-content
                                    .ch-mobile-chart
                        .mobile
                            img(src='./images/index-feature.png')

                    script(type='text/javascript').
                        window.supportTouch && (document.getElementById('ch-main').className += ' ch-on-touch');


        section#reference
            .container
                 #recommends
                    .recommend
                        p ECharts 是中国的，也是世界的。
                        .person
                            .title 浙江大学CAD&CG国家重点实验室教授，可视化专家
                            .name 陈为
                    .recommend
                        p ECharts，发现数据可视化之美！
                        .person
                            .title 中国传媒大学教授
                            .name 沈浩
                    .recommend.active
                        p 在中国可视化生态系统中，ECharts 通过提供方便丰富的可视化图表，极大缩短了用户与数据的距离。
                        .person
                            .title 北京大学百人计划研究员，可视化专家
                            .name 袁晓如
                    .recommend
                        p 很高兴ECharts一直保持着可视化的顶尖水平，期待 ECharts 早日动词化的那一天！
                        .person
                            .title 游族网络有限公司 CTO
                            .name 李湛
                    .recommend
                        p ECharts 是最让我惊艳的一款数据产品，它满足了甚至超越了我对数据可视化的所有想象，无论是颜值，实用性，还是易用性。
                        .person
                            .title PPT 设计师 / 数据分析师
                            .name 阿文
            .container
                .people
                    img(src='images/people/陈为.png')
                    img(src='images/people/沈浩.png')
                    img.active(src='images/people/袁晓如.png')
                    img(src='images/people/李湛.png')
                    img(src='images/people/阿文.png')

        section.container
            .companies
                - for (var i = 1; i <= 24; ++i) {
                    img(src='images/company/company#{i}.png')
                -}

        section.normal#about-section
            .container
                h3 关注我们
                p 可以通过以下渠道关注 ECharts，及时获得更多最新动态
                .btn-panel
                    a.btn.btn-blue(href='https://github.com/ecomfe/echarts')
                        img(src='images/btn-github.png')
                        span GitHub
                    a.btn.btn-red(href='http://weibo.com/echarts')
                        img(src='images/btn-weibo.png')
                        span 微博

        include components/footer

block extra_js
    script(src='./dist/echarts.min.js')
    script(src='./js/index.js')
