extends layouts/doc

block global_args_extra

    script(type="text/javascript").
        window.globalArgsExtra = {
            pageName: 'option',
            schemaUrl: 'documents/cn/option.json',
            initHash: 'title',
            docTreeRootText: '.setOption('
        };