extends layouts/doc

block global_args_extra

    script(type="text/javascript").

        $('#main').addClass('tutorial');

        window.globalArgsExtra = {
            pageName: 'tutorial',
            schemaUrl: 'documents/cn/tutorial.json',
            initHash: '5 分钟上手 ECharts',
            hideTreeRoot: true,
            pureTitle: true,
            noCtxVar: true,
            lang: {
                cn: {
                    queryBoxTextFuzzyPath: '教程搜索',
                    queryBoxPlaceholderFuzzyPath: '教程名称搜索（快捷键\'/\'）'
                },
                en: {
                    queryBoxTextFuzzyPath: 'tutorial search',
                    queryBoxPlaceholderFuzzyPath: 'tutorial search (shortcut: \'/\')'
                }
            }
        };
