#ec-doc-main .ec-doc-tutorial .page-description {
    h4 {
        margin: 1.33em 0;
        padding: 0;
        font-weight: bold;
    }
    h5 {
        margin: 1.67em 0;
        padding: 0;
        font-weight: bold;
    }
}