#cheat-selector {
    margin-bottom: 20px;

    .selected .btn {
        background-color: $clr-primary;
        border-color: $clr-primary-dark;
        color: white;
    }
}

    #cheat-chart {
        width: 100%;
        height: 400px;
    }

    #cheat-detail {
        min-height: 100px;
    }
