/**
 * 基本按钮。写成mixin因为有的地方不方便设class。
 */
/**
 * 按钮基本样式
 */
.dtui-btn {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  background: #3498DB;
  text-align: center;
  font-size: 14px;
  min-width: 60px;
  height: 24px;
  line-height: 24px;
  padding: 0 8px;
}
.dtui-btn-hover {
  background: #2980B9;
}
.dtui-btn-active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/**
 * Close cross
 */
.dtui-close-cross {
  width: 30px;
  height: 30px;
  line-height: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: absolute;
  text-align: center;
  font-size: 13px;
  top: -15px;
  right: -15px;
  cursor: pointer;
  color: #fff;
  background: #2a2a2a;
}
.dtui-close-cross:hover {
  background: #333;
}
/**
 * dialog panel
 */
.dtui-dlg {
  min-width: 200px;
  max-width: 600px;
}
.dtui-dlg .dtui-con {
  padding: 10px;
  font-size: 14px;
}
.dtui-dlg .dtui-btns {
  text-align: right;
  margin-top: 10px;
}
.dtui-dlg .dtui-btn {
  margin: 0 2px;
}
.dtui-txipt {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  border: 1px solid #979bb2;
  margin: 3px 5px;
  width: 100px;
}
.dtui-txipt textarea,
.dtui-txipt input {
  padding: 0;
  width: 100%;
  line-height: 16px;
  font-size: 12px;
  color: #000;
  background: #fff;
  border: none;
  outline: medium;
}
.dtui-txipt-type-text {
  padding: 0 6px;
  height: 26px;
  line-height: 26px;
}
.dtui-txipt-type-textarea {
  padding: 6px;
  height: 66px;
  line-height: 66px;
}
.dtui-txipt-type-textarea textarea {
  display: block;
  height: 100%;
  resize: none;
}
.dtui-txipt-disabled {
  background: #fff;
}
.dtui-txipt-disabled input {
  background: #bbb;
  color: #333;
}
.dtui-tx {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.dtui-chkbtn {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  *zoom: 1;
}
.dtui-chkbtn:before,
.dtui-chkbtn:after {
  display: table;
  content: "";
}
.dtui-chkbtn:after {
  clear: both;
}
.dtui-chkbtn-i {
  float: left;
  height: 18px;
  line-height: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  cursor: pointer;
  margin: 3px 5px;
  padding: 0 5px;
  font-size: 12px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 0 solid #828599;
  background: transparent;
  color: #777777;
}
.dtui-chkbtn-i-hover {
  border: 0 solid #828599;
  color: #333333;
  background: #e0e0e0;
}
.dtui-chkbtn-i-active {
  border: 0 solid #d2d2d2;
  color: #f0f0f0;
  background: #828599;
}
.dtui-chkbtn-disabled {
  border: 0 solid #828599;
  color: #828599;
  background: transparent;
  cursor: default;
}
.dtui-treelist-i {
  position: relative;
  padding-left: 1.3em;
  line-height: 20px;
}
.dtui-treelist-thumb {
  margin: -1px 0 0 -1em;
  position: absolute;
  cursor: pointer;
  font-style: normal;
  width: 1.5em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dtui-treelist-expanded > .dtui-treelist-thumb:after {
  content: '▾';
}
.dtui-treelist-collapsed > .dtui-treelist-thumb:after {
  content: '▸';
}
.dtui-treelist-thumb:hover {
  color: #7DA7BA;
}
.dtui-treelist-text {
  cursor: pointer;
  display: block;
  padding: 0 0.5em;
  text-decoration: none;
  color: #333333;
}
.dtui-treelist-text-highlight {
  background: #efd689;
  color: #000000;
}
.dtui-treelist-text-active {
  background: #428bca;
  color: #ffffff;
}
.dtui-treelist-text-hover {
  background: #a2d0f7;
  color: #000000;
}
.dtui-treelist-post {
  display: block;
  padding: 0 0.5em;
}
.dtui-treelist-disabled .dtui-treelist-text {
  background: transparent;
  color: #828599;
}
.dtui-winpn {
  background: #3f3f3f;
  color: #efe;
  padding: 5px 10px;
  line-height: 25px;
  z-index: 9999;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 3px, rgba(255, 255, 255, 0.1) 0px 1px 0px inset, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 3px, rgba(255, 255, 255, 0.1) 0px 1px 0px inset, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 3px, rgba(255, 255, 255, 0.1) 0px 1px 0px inset, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -50%;
  overflow: visible;
  padding: 10px;
}
.dtui-winpn a,
.dtui-winpn a:visited {
  color: #99D0FF;
}
.dtui-winpn-con {
  overflow: hidden;
}
.dtui-global-tooltip {
  position: absolute;
  max-width: 200px;
  background: #ffffff;
  border: 1px solid #bbbbbb;
  color: #111111;
  padding: 5px 10px;
  line-height: 25px;
  z-index: 99999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/**
 * @file 公共less
 */
/**
 * @file 公共normalize & 部分reset。
 * @author sushuang(sushuang@baidu.com)
 */
html,
body,
div,
span,
object,
iframe,
a,
img,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
input,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
* {
  font-family: "Helvetica Neue", "Segoe UI", Tahoma, Arial, "Hiragino Sans GB", STHeiti, "Microsoft Yahei", "WenQuanYi Micro Hei", sans-serif;
}
html {
  background-color: #f7f7f7;
}
.ecdoc-normal-panel {
  background: #f5f5f5;
  border: 1px solid #ccc;
  color: #333;
  padding: 5px 10px;
  line-height: 25px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.ecdoc-normal-panel a,
.ecdoc-normal-panel a:visited {
  color: #428bca;
}
.ecdoc-fixed-panel {
  background: #f5f5f5;
  border: 1px solid #ccc;
  color: #333;
  padding: 5px 10px;
  line-height: 25px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: fixed;
  z-index: 9999;
}
.ecdoc-fixed-panel a,
.ecdoc-fixed-panel a:visited {
  color: #428bca;
}
/**
 * Question 问号图标
 */
.ecdoc-question {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  text-align: center;
  background: #999;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-weight: 700;
  font-size: 16px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.ecdoc-question:before {
  content: '?';
}
.ecdoc-sprsht {
  margin-top: 70px;
}
.ecdoc-sprsht-main {
  position: relative;
}
.ecdoc-sprsht-datatable-area {
  position: fixed;
  left: 0;
  top: 53px;
  width: 55%;
  bottom: 0;
}
.ecdoc-sprsht-datatable-area .handsontable {
  color: #333;
  font-family: Verdana, Helvetica, Arial, FreeSans, sans-serif;
  font-size: 12px;
  position: absolute;
  overflow: visible;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FFF;
}
.ecdoc-sprsht-datatable-area .handsontable .dragdealer .handle {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.ecdoc-sprsht-datatable-area .handsontable table.htCore td.area {
  background-color: #EEF4FF !important;
}
.ecdoc-sprsht-datatable-area .handsontable table.htCore th {
  cursor: pointer;
}
.ecdoc-sprsht-datatable-area .handsontable table.htCore th.rchead-highlight {
  background: #D1D5DA;
}
.ecdoc-sprsht-right {
  margin: 0 0 0 55%;
}
.ecdoc-sprsht-ctrl-area {
  margin: 0 35px 0 20px;
  padding: 5px 15px;
  position: relative;
}
.ecdoc-sprsht-ctrl-area h1 {
  margin: 10px 0 10px 0;
  font-size: 26px;
}
.ecdoc-sprsht-ctrl-area .ecdoc-sprsht-desc {
  color: #999;
  margin-bottom: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}
.ecdoc-sprsht-ctrl-area .ecdoc-sprsht-desc strong {
  color: #333;
  font-weight: 700;
  margin: auto 4px auto 4px;
}
.ecdoc-sprsht-ctrl-area .ecdoc-sprsht-line {
  margin-bottom: 6px;
  padding-top: 6px;
}
.ecdoc-sprsht-ctrl-area .ecdoc-sprsht-line label {
  vertical-align: middle;
}
.ecdoc-sprsht-ctrl-area .ecdoc-attr-info {
  font-size: 12px;
  line-height: 32px;
}
.ecdoc-sprsht-ctrl-area .ecdoc-sprsht-attr-change {
  margin: -26px 0 0 100px;
}
.ecdoc-sprsht-ctrl-area .ecdoc-sprsht-attr-change .dtui-btn {
  width: 22px;
  min-width: 22px;
  height: 22px;
  line-height: 22px;
  font-size: 20px;
  font-family: Arial;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  padding: 0;
}
.ecdoc-sprsht-ctrl-area .ecdoc-attr-item {
  line-height: 32px;
}
.ecdoc-sprsht-ctrl-area .ecdoc-attr-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  margin: 0 3px;
}
.ecdoc-sprsht-ctrl-area .ecdoc-attr-block label {
  font-weight: normal;
  vertical-align: middle;
}
.ecdoc-sprsht-ctrl-area .ecdoc-attr-block .dtui-txipt {
  margin-left: 0;
  margin-right: 0;
}
.ecdoc-sprsht-ctrl-area .ecdoc-attr-title {
  font-family: "Andale Mono", Monospace;
}
.ecdoc-sprsht-ctrl-area .ecdoc-attr-data-type .dtui-chkbtn-i {
  margin: 0 2px 0 0;
}
.ecdoc-sprsht-codeinputs-area {
  margin: 20px 35px 0 20px;
}
.ecdoc-sprsht-codeinputs-area label {
  margin-left: 10px;
}
.ecdoc-sprsht-codeinputs-area .ecdoc-sprsht-title {
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  padding-left: 10px;
}
.ecdoc-sprsht-codeinputs-area .ecdoc-sprsht-codeinput {
  position: relative;
  height: 105px;
}
.ecdoc-sprsht-codeinputs-area .dtui-txipt-type-textarea {
  display: block;
  position: absolute;
  width: auto;
  top: 25px;
  left: 0;
  bottom: 0;
  right: 30px;
  margin: 0;
}
.ecdoc-sprsht-codeinputs-area .ecdoc-sprsht-codeinputs {
  margin-top: 20px;
}
