extends ../layouts/basic

block content
    .page-main
        nav(class='navbar navbar-default navbar-fixed-top')
            include ../components/nav

        .not-found
            img(src="#{cdnPayRoot}/#{ecWWWLang}/images/404.png?_v_=#{cdnPayVersion}", alt="404")
            .text This is not the web page you are looking for.
                a(href="./index.html", class="link") Back to home

        include ../components/footer

block extra_js

    script(type='text/javascript').
