extends ../layouts/basic

block variablesLang
    include ./_variablesLang.jade

block extra_head
    title Changelog - Apache ECharts

block content
    nav(class='navbar navbar-default navbar-fixed-top')
        include ./nav

    .page-main
        .page-info
            h1 Changelog
            p [+]Add [-]Remove [^]Update [#]Fix
            p.page-info-echarts Apache ECharts<sup>TM</sup>

        .page-content.single-page
            .page-nav
                a.slide-btn Collapse
                h4 Versions
                ul
            .page-detail.changelog
                include ../../_generated/en/documents/changelog-content.html

                include ../components/inner-footer

block extra_js
    script(type='text/javascript').
        document.getElementById('nav-doc').className = 'active';

        // Fix scroll position covered by nav
        window.addEventListener('hashchange', function() {
            scrollBy(0, -50);
        });
