extends ../layouts/basic

block variablesLang
    include ./_variablesLang.jade

block extra_head
    title ECharts Committers

block content
    nav(class='navbar navbar-default navbar-fixed-top')
        include ./nav

    .page-info
        h1 Committers

    #about-page
        section.container.contributor
            h3 Thanks for Helping
            p The development of ECharts is associated with the outstanding contributions from the people in the community,<br>who have different skills and come from different backgrounds.
            p Thank you all your help!

            h4.group.code Committers
            .row
                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        a(href='https://github.com/pissang', target='_blank')
                            img(src='images/people/沈毅.png')
                        h5.about-name Yi Shen
                        .about-desc ECharts Core Developer
                        .about-desc Shanghai, China
                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        a(href='https://github.com/100pah', target='_blank')
                            img(src='images/people/宿爽.png')
                        h5.about-name Shuang Su
                        .about-desc ECharts Core Developer
                        .about-desc Beijing, China
                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        a(href='https://github.com/Ovilia', target='_blank')
                            img(src='images/people/羡辙.png')
                        h5.about-name Ovilia
                        .about-desc ECharts Core Developer
                        .about-desc Shanghai, China
                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        a(href='https://github.com/deqingli', target='_blank')
                            img(src='images/people/德清.png')
                        h5.about-name Deqing Li
                        .about-desc ECharts Core Developer
                        .about-desc Beijing, China
                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        a(href='https://www.behance.net/wjtjiayouac8aa', target='_blank')
                            img(src='images/people/王俊婷.png')
                        h5.about-name Junting Wang
                        .about-desc ECharts Designer
                        .about-desc Shanghai, China
                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        a(href='https://github.com/kener', target='_blank')
                            img(src='images/people/林峰.png')
                        h5.about-name Feng Lin
                        .about-desc ECharts Core Developer
                        .about-desc 中国 · 杭州
                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        a(href='https://github.com/chriswong', target='_blank')
                            img(src='images/people/大佛.png')
                        h5.about-name Houjin Huang
                        .about-desc 跟谁学前端负责人
                        .about-desc Beijing, China
                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        a(href='https://github.com/cuijian-dexter', target='_blank')
                            img(src='images/people/崔健.jpg')
                        h5.about-name Jian Cui
                        .about-desc Beijing, China

            h4.group.code Other Contributors
            .row
                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        a(href='https://github.com/ClemMakesApps', target='_blank')
                            img(src='images/people/clement.jpeg')
                        h5.about-name Clement Ho
                        .about-desc GitLab Frontend Engineer Manager
                        .about-desc Texas, U.S.A.
                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        a(href='https://github.com/susiwen8', target='_blank')
                            img(src='images/people/苏思文.png')
                        h5.about-name Siwen Su
                        .about-desc Shanghai, China
                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        a(href='https://github.com/Justineo', target='_blank')
                            img(src='images/people/顾轶灵.png')
                        h5.about-name Yiling Gu
                        .about-desc Author of vue-echarts
                        .about-desc Shanghai, China
                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        a(href='https://github.com/erik168', target='_blank')
                            img(src='images/people/erik.png')
                        h5.about-name Erik
                        .about-desc Author of San
                        .about-desc Beijing, China
                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        a(href='https://github.com/The-only', target='_blank')
                            img(src='images/people/小红.png')
                        h5.about-name Xiaohong Deng
                        .about-desc Author of ECharts Calendars
                        .about-desc Beijing, China
                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        img(src='images/people/祖明.png')
                        h5.about-name Ming Zu
                        .about-desc ECharts Product Manager
                        .about-desc Beijing, China
                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        a(href='https://github.com/firede', target='_blank')
                            img(src='images/people/田彧.png')
                        h5.about-name Yu Tian
                        .about-desc ECharts Designer
                        .about-desc Beijing, China
                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        a(href='https://github.com/firede', target='_blank')
                            img(src='images/people/赵雷.png')
                        h5.about-name Lei Zhao
                        .about-desc Hefei, China
                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        img(src='images/people/魏太云.png')
                        h5.about-name Taiyun Wei
                        .about-desc recharts 作者
                        .about-desc Beijing, China
                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        img(src='images/people/周扬.png')
                        h5.about-name Yang Zhou
                        .about-desc Author of recharts
                        .about-desc Beijing, China
                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        a(href='https://github.com/wind108369', target='_blank')
                            img(src='images/people/杨骥.png')
                        h5.about-name Ji Yang
                        .about-desc Contributor
                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        a(href='https://github.com/loutongbing', target='_blank')
                            img(src='images/people/娄同兵.png')
                        h5.about-name Tongbing Lou
                        .about-desc Contributor
                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        img(src='images/people/黄悦.png')
                        h5.about-name Yue Huang
                        .about-desc ECharts Designer
                        .about-desc Beijing, China
                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        img(src='images/people/JB.png')
                        h5.about-name Jaroslav Benc
                        .about-desc R&D Software Engineer
                        .about-desc New Zealand

            h4.group.code Industry Support
            .row
                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        img(src='images/people/谢益辉.png')
                        h5.about-name Yihui Xie
                        .about-desc Founder of Capital of Statistics
                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        img(src='images/people/黄志敏.png')
                        h5.about-name Zhimin Huang
                        .about-desc Founder of data-viz.cn
                        .about-desc Beijing, China
                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        img(src='images/people/桑文锋.png')
                        h5.about-name Wenfeng Sang
                        .about-desc Sensors CEO
                        .about-desc Beijing, China
                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        img(src='images/people/红薯.png')
                        h5.about-name Hong Shu
                        .about-desc Founder of Oschina
                        .about-desc Shenzhen, China
                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        img(src='images/people/王琼.png')
                        h5.about-name Qiong Wang
                        .about-desc Founder of dydata.io
                        .about-desc Wuhan, China

        section.container.company
            h3 Companies using ECharts
            .row
                - for (var i = 1; i <= 24; ++i) {
                    .col-md-3.col-sm-4.col-xs-6
                        img(src='images/company/company#{i}.png')
                -}
    include ./footer

block extra_js

    script(type='text/javascript').
        document.getElementById('nav-about').className = 'active';
