extends ../layouts/basic

block variablesLang
    include ./_variablesLang.jade

block content

    style.
        //- #download-main .d-section-version .circle-wrap {
        //-     line-height: 120px;
        //-     font-size: 20px;
        //-     font-family: Helvetica;
        //-     color: #214d62;
        //-     font-weight: normal;
        //- }

    nav(class='navbar navbar-default navbar-fixed-top')
        include ./nav

    .page-info
        h1 Download

    .page-content.container#download-main
        .d-section-version.d-section
            h2 Download Apache ECharts (incubating)
            p You may use npm to install: <code>npm install echarts</code>, or download from the following.

            table.table#download-table
                tr
                    th Version
                    th Release Date
                    th Download Source from a Mirror
                    th GitHub

            .checksum
                p <strong>Note:</strong> when downloading from a mirror please check the <a href="http://www.apache.org/dev/release-signing#md5">md5sum</a> and verify the <a href="http://www.apache.org/dev/release-signing#openpgp">OpenPGP</a> compatible signature from the main <a href="http://www.apache.org">Apache site</a>. Links are provided above (next to the release download link). This <a href="https://dist.apache.org/repos/dist/release/incubator/echarts/KEYS">KEYS</a> file contains the public keys used for signing release. It is recommended that (when possible) a <a href="http://www.apache.org/dev/release-signing#web-of-trust">web of trust</a> is used to confirm the identity of these keys. For more information, please see the <a href="http://www.apache.org/dev/release.html">Apache Release FAQ</a>.

                h3 To verify ECharts releases using GPG:
                ol
                    li Download the release apache-echarts-X.Y.Z-incubating-src.zip from a mirror site.
                    li Download the checksum apache-echarts-X.Y.Z-incubating-src.zip.asc from <a href="http://www.apache.org/dist/incubator/echarts/">Apache</a>.
                    li Download the <a href="http://www.apache.org/dist/incubator/echarts/KEYS">ECharts KEYS</a> file.
                    li gpg –import KEYS
                    li gpg –verify apache-echarts-X.Y.Z-incubating-src.zip.asc

                h3 To perform a quick check using SHA-256:
                ol
                    li Download the release apache-echarts-X.Y.Z-incubating-src.zip from a mirror site.
                    li Download the checksum apache-echarts-X.Y.Z-incubating-src.zip.asc from <a href="http://www.apache.org/dist/incubator/echarts/">Apache</a>.
                    li shasum -a 256 apache-echarts-X.Y.Z-incubating-src.zip

                h3 License
                p Apache ECharts (incubating) is licensed under <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.


    include ./footer

block extra_js
    script(src="js/download.js")
    script(type='text/javascript').
        document.getElementById('nav-downloads').className = 'active';

        var list = [
                {
                    label: 'Common',
                    fileName: 'echarts.common.min.js',
                    descHTML0: 'Includes common charts and components.',
                    descHTML1: 'line bar pie scatter legend tooltip toolbox markLine markPoint markArea dataZoom'
                },
                {
                    label: 'Simple',
                    fileName: 'echarts.simple.min.js',
                    descHTML0: 'Only includes basic charts.',
                    descHTML1: 'line bar pie'
                },
                {
                    label: 'Full',
                    fileName: 'echarts.min.js',
                    descHTML0: 'Includes all charts and components.',
                    descHTML1: ''
                },
                {
                    label: 'Source',
                    fileName: 'echarts.js',
                    descHTML0: 'Source code of all charts and components, including warnings and hints for dev.',
                    descHTML1: ''
                }
            ];

            function encodeHTML(source) {
                return source == null
                    ? ''
                    : String(source)
                        .replace(/&/g, '&amp;')
                        .replace(/</g, '&lt;')
                        .replace(/>/g, '&gt;')
                        .replace(/"/g, '&quot;')
                        .replace(/'/g, '&#39;');
            }
