extends ../layouts/basic

block variablesLang
    include ./_variablesLang.jade

block variables
    - var pageTitle = 'ECharts FAQ'

block extra_head
    title ECharts FAQ

block content
    nav(class='navbar navbar-default navbar-fixed-top')
        include ./nav

    .page-info
        .container
            h1 FAQ
            p Frequently asked questions

    .page-content.single-page#faq-page
        .page-nav
            h4 Topics
            ul

        .page-detail
            h2#ask-questions General Questions
            h3 What to do if you have technical problem?
            ol
                li Browse API and Option manual, and learn what configurations ECharts has. This makes it easier for you to know the key words to search or ask questions.
                li Broswe FAQ questions on this page.
                li Create a simple example to reproduce your problem on <a href="http://gallery.echartsjs.com/editor.html">ECharts Gallery</a>.
                li Paste the link when you ask questions on <a href="https://stackoverflow.com">StackOverflow</a> and etc.

            h3 Is ECharts free to use?
            p Yes. ECharts is open-sourced under <a href="./license.html">Apache License 2.0</a>.

block extra_js

    script(type='text/javascript').
        document.getElementById('nav-about').className = 'active';
