extends ../layouts/doc

block global_args_extra

    script(type="text/javascript").
        window.globalArgsExtra = {
            baseUrl: 'documents/option-parts',
            docType: 'option',
            locale: 'en'
        };