footer.inner-footer
    .container
        .row
            .col-md-8
                p Copyright © 2017-#{copyRightYear}, The Apache Software Foundation Apache ECharts, ECharts, Apache, the Apache feather, and the Apache ECharts project logo are either registered trademarks or trademarks of the Apache Software Foundation.
            .col-md-4#footer-icon-panel
                a(href='https://www.apache.org')
                    img(src='#{cdnPayRoot}/#{ecWWWLang}/images/asf_logo.svg?_v_=#{cdnPayVersion}', class="footer-apache-logo")
